<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>

<body>

<div th:replace="layout/header :: header"></div>

<h1>시흥 민원 플랫폼 (메인 페이지)</h1>

<h2>인기 TOP 5</h2>
<ul>
    <li th:each="c : ${top5}">
        <span th:text="${c.title}">제목</span>
        (공감 <span th:text="${c.likes}">0</span>)
    </li>
</ul>

<hr>

<h2>최신 민원</h2>
<ul>
    <li th:each="c : ${latest}">
        <a th:href="@{'/complaints/detail/' + ${c.id}}"
           th:text="${c.title}">민원 제목</a>
    </li>
</ul>

</body>
</html>
