<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header>
        <div class="header-inner">
            <a href="/complaints/" class="logo">
                <img th:src="@{/images/logo.png}" alt="시:그널 로고" height="80">
            </a>

            <nav class="nav-links">
                <a href="/complaints/">홈</a>
                <a href="/complaints/list">민원 목록</a>

                <a href="/complaints/new" class="nav-btn" sec:authorize="isAuthenticated()">민원 작성</a>

                <a href="/members/login" sec:authorize="isAnonymous()">로그인</a>
                <a href="/members/signup" sec:authorize="isAnonymous()">회원가입</a>

                <a href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a>
            </nav>
            </nav>
        </div>
    </header>
</div>